node_modules
package-lock.json
copy-1test-login-sucess-faill-seletoresñ-ideais.txt
copy-2test-login-sucess-faill-melhoresatributos.txt
copy-3test-login-sucess-faill.txt
copy-4test-login-sucAndfail.txt
copy-5test-login-sucAndfail.txt
copy-6test-login-sucAndfail.txt
copy-7test-login-selectorslist.txt
copy-8-note-page-object.txt
copy-9-note-randonicas.txt